extends layout
block script
    script.
        window.onload = function () {


            let artikelArtSelector = undefined;
            let artikelSelector =  undefined;

            let tablename = '!{tablename}';
            if(tablename === 'GERAET') {
                artikelArtSelector =  document.getElementById("artikelArtSelector-geraet");
                artikelSelector = document.getElementById("artikelSelector-geraet");
            }else if(tablename === 'TRANSAKTION'){
                artikelArtSelector= document.getElementById("artikelArtSelector-trans");
                artikelSelector = document.getElementById("artikelSelector-trans");
            }
            else {
                return;
            }
            let artikelArr = JSON.parse(`!{table.artikel_join}`);

            var createAASelect = function (artikelSelector, value) {
                while (artikelSelector.options.length !== 0) {
                    artikelSelector.options.remove(0);
                }
                let cnt = 1;
                for (const set of artikelArr) {
                    if (set['ARTIKEL_ART_NAME'] === value) {
                        artikelSelector.options[artikelSelector.options.length] = new Option(set['ARTIKEL_NAME'], set['ARTIKEL_NAME'])
                    }
                }
            }

            createAASelect(artikelSelector, artikelArtSelector.value);

            artikelArtSelector.addEventListener("change", function () {
               createAASelect(artikelSelector, artikelArtSelector.value);
            });

        };

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2=tablename

                // register form
                form(method='POST' action='/confirmation')
                    div.form-group
                        input#info.form-control(type = 'hidden', name='tableName', value=tablename )
                        if tablename === 'ZUSTAND'
                            label(for='Z-Name') Zustand name:
                            input#Z-name.form-control(type='text' placeholder='Zustand' name='zustandName' required)
                        else if tablename === 'ARTIKEL_ART'
                            label(for='AA-Name') Artikel art:
                            input#AA-name.form-control(type='text' placeholder='Artikel_Art' name='artikelArt' required)
                        else if tablename === 'ARTIKEL'
                            label(for='AA-Name') ARTIKEL_ART:
                            select#ArtikelArtSelector(name = 'artikelArt')
                                each item in table.artikelArt
                                    option=item
                            br
                            label(for='Z-Name') Artikel name:
                            input#Z-name.form-control(type='text' placeholder='Artiklel' name='artikelName' required)
                            br
                            label(for='Anzahl') Anzahl auf der Lager:
                            input#Z-name.form-control(type='text' placeholder='Anzahlt' name='anzahl' required)
                        else if tablename === 'GERAET'
                            label(for='artikelArtSelector-geraet') ARTIKEL ART:
                                select#artikelArtSelector-geraet(name = 'artikelArt')
                                    each item in table.artikelArt
                                        option=item
                                br

                            label(for='artikelSelector-geraet') ARTIKEL:
                                select#artikelSelector-geraet(name = 'artikelName')
                                br
                            label(for='G-Id') Zustand:
                                select#ZustandSelector(name = 'zustandName')
                                    each item in table.zustandName
                                        option=item
                                br
                            label(for='Z-Name') Geraet ID:
                            input#Z-name.form-control(type='text' placeholder='Geraet ID' name='geraet_ID' required)
                            br
                            label(for='Anzahl') Vorhanden auf der Lager:
                            input#Z-name.form-control(type='checkbox' placeholder="Vorhandensein" name='isAufLager')

                        else if tablename === 'FIRMA'
                            label Firma name:
                            input#firma-name.form-control(type='text' placeholder='Firma name' name='firmaName' required)
                        else if tablename === 'MITARBEITER'
                            label(for='G-Id') FIRMA NANE:
                                select#Firma-name(name = 'firmaName')
                                    each item in table.firma
                                        option=item
                            br
                            label(for='MA-ID') K-nummer:
                            input#MA-ID.form-control(type='text' placeholder='K-Nummer' name='maID' required)
                            br
                            label(for='MA-VName') Vorname:
                            input#MA-VName.form-control(type='text' placeholder='MA Vorname' name='maVname' required)
                            br
                            label(for='MA-NName') Nachname:
                            input#MA-NName.form-control(type='text' placeholder='MA Nachname' name='maNname' required)
                        else if tablename === 'TRANSAKTIONSART'
                            label(for='TART') TRANSAKTIONSART:
                            input#TART.form-control(type='text' placeholder='TRANSAKTIONSART' name='transart' required)

                        else if tablename === 'TRANSAKTION'
                            label(for='T-art') Transaktionsart:
                                select#T-art(name = 'tart')
                                    each item in table.tart
                                        option=item
                                br
                            label(for='MA1-N') MA1:
                                select#MA1-N(name = 'ma1name')
                                    each item in table.ma
                                        option=item
                            br
                            label(for='MA2-N') MA2:
                                select#MA2-N(name = 'ma2name')
                                    option [NULL]
                                    each item in table.ma
                                        option=item
                            br
                            label(for='G-Id') ARTIKEL ART:
                                select#artikelArtSelector-trans(name = 'artikelArt')
                                    each item in table.artikelArt
                                        option=item
                                br

                            label(for='G-Id') ARTIKEL:
                            select#artikelSelector-trans(name = 'artikelName')

                            br
                            label(for='GERAET_ID') GERAET:
                                select#GERAET_ID(name = 'gerateName')
                                    each item in table.geraetID
                                        option=item
                            br
                            label(for='Descr') Description:
                            input#Descr.form-control(type='text' placeholder='Description' name='descr')
                            br
                            label(for='actual') Ist Aktuel:
                            input#actual.form-control(type='checkbox' name='isActual')

                        else if tablename === 'TEST_TABLE'
                            label(for='text') Text:
                                input#text.form-control(type='text' placeholder='text' name='text' required)
                        else
                            p error input tablename
                    button.btn.btn-primary(type='submit') Add

                div.main-table
                    table
                        tr
                        each th_text in keys
                            th=th_text
                        -for(var i = 0; i<values.length; i++)
                            tr
                            each td_text in values[i]
                                td=td_text
